body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/*header start*/

header{
	/*border: 1px solid blue;*/
	padding: 15px 0;
	background-color: #121B2A;
	box-shadow: 1px 10px 25px 5px;
}
.wrapper{
	margin: 0 auto;
	width: 70%;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.content{}
.logo{
	/*margin: 1px 0;*/
	width: 18%;
	/*border: 1px solid blue;*/
	float: left;
}
.logo img{
	width: 100%;
}
.menu{
	/*border: 1px solid;*/
	width: 65%;
	float: right;
	padding: 25px 0;
	margin: 1px 0;
}
.menu ul{

	float: right;
}
.menu ul li{

	list-style: none;
	float: left;
}
.menu ul li a{
	text-decoration: none;
	padding: 0 20px;
	display: inline-block;
	color: white;
	transition: 0.5s;
}
.menu ul li a:hover{
	color: #0574B4;
}
.menu ul li:last-child a{
	padding-right: 0;
}

/*header end*/

/*banner start*/
.banner{}
.b_img{
	background-image: url(../images/B_image.jpg);
	height: 500px;
	padding: 150px 0;
	background-size: cover;
	background-repeat: no-repeat;
}



.b_content {
	/* border: 1px solid black; */
	width: 37%;
	margin: 15.78% 0;
}
.b_h1{

}
.b_h1 h1{
	color: white;
	line-height: 50px;
	font-family: nexa;
	font-size: 40px;
	margin: 0;

}
.b_h1 h1 strong{
	color: #0275B6;
}
.b_text{}
.b_text p{
	margin: 0;
	color: white;
	line-height: 30px;
}
.b_button {
	margin-top: 25px;
}
.b_button button{
	background-color: white;
	color: #595959;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 20px;
	letter-spacing: 2px;
	transition: 0.3s;
}
.b_button button:hover{
	background-color: #0275B6;
	color: white;
}
.b_button button strong:hover{
	color: white;
}
.b_button button strong{
	color: #0077BE;
}
/*banner end*/

/*service start*/

.service{
	/*border: 1px solid green;*/
	background-color: #121B2C;

}
.s_content{

}
.single {
	float: left;
	width: 24%;
	border-right: 1px solid #1A2430;
	padding: 4.63%;
}

.single:last-child{
	border: 0;
}
.s_icon{
	width: 25%;
	float: left;
	overflow: hidden;
	margin-right: 20px;
	
}
.s_icon img{
	width: 100%;
	transition: 0.3s;

}
.s_icon img:hover{
	transform: scale(.8);
}

.s_h2{
	float: right
	margin: 0;
	padding: 0;
	display: inline-block;
	
}
.s_h2 h2 {
	font-size: 30px;
	color: white;
}
.s_h2 h2 span{
	color: #0275B6;
}

.s_text{}
.s_text p {
	padding: 0 20px 0 2px;
	line-height: 25px;
	font-size: 17px;
	color: white;
}

/*service end*/


/*contact start*/

.contact {
	background-color: #040811;
	/* border: 1px solid white; */
	padding: 35px 0;
}

.wrapper2{
	width: 60%;
	/*border: 1px solid red;*/
	margin: 0 auto;
	overflow: hidden;

}
.c_content{
	
}
.c_s {
	/* border: 1px solid yellow; */
	width: 30%;
	line-height: 20px;
	letter-spacing: 1px;
	font-size: 15px;
	float: left;
	padding: 19px;
	height: 230px;
}
.c_h2 {
	color: white;
	line-height: 30px;

}
.c_h2 h2 span{
	color: #0075BA;
}
.s2_h2 {
	margin: 0;
	padding-top: 17px;

}
.c_text{
	color: white;
	line-height: 20px;
	font-size: 15px;
}
.c_text p{}
.c_h3{
	color: white;
}
.c_h3 h3 {
	margin: 20px 0 3px 0;
	padding-left: 20px;
	font-size: 15px;
}

.cs2{
	padding-left: 20px;
}

.c_s_box {
	width: 85%;
	background-color: #0C1019;
	border-radius: 5px;
	padding: 1px 20px;
}


.address{}
.address address{
	color: white;
	font-style: inherit;
}

.c_img{
	float: left;
	margin-right: 35px;
}
.c_img img{
	transition: 0.3s;
}
.c_img img:hover{
	transform: scale(.8);
}
.last_h2{
	display: inline-block;
	float: right;
}

/*contact end*/


/*footer start*/

footer{
	background-color: #121B2C;
}
.f_content {
	color: white;
	/*border: 1px solid blue;*/
	padding: 25px 10px;
	text-align: left;
	overflow: hidden;
	width: 60%;
	float: left;
}
.f_menu{
	/*border: 1px solid dodgerblue;*/
	overflow: hidden;
	width: 90%;
	padding: 5px 0;

}

.f_menu ul{
	margin: 0;
	display: inline-block;
	padding-left: 0;
}

.f_menu ul li{
	list-style: none;
	float: left;
	margin: 0 10px;
	font-size: 15px;
}


.f_menu ul li a{
	text-decoration: none;
	color: white;
	border-right: 1px solid white;
	padding-right: 15px;
	transition: 0.3s;
}
.f_menu ul li a:hover{
	color: #0F4EA6;
}

.f_menu li:last-child a{
	border: none;
	padding: 0;
	margin: 0;
}

.f_text{
	font-size: 15px;
	padding-left: 10px;
}
.f_text p{
	display: inline-block;
}
.f_img{
	/*border: 1px solid red;*/
	overflow: hidden;
	width: 35%;
	float: right;
	padding-top: 25px;

}

.f_img1 {
	float: left;
	margin-right: 50px;
	font-size: 20px;

}
.f_img1 img{}
.f_img2{}
.f_img2 img{}


/*footer end*/